BASE_URL=https://auth.vvdntech.com/api/v1
PI_KEY=your_api_key_here
AUTH_TOKEN=eyJraWQiOiJhMDUyYmIzZi02YmY0LTRhMzQtYjMwYi01OWQ5OGU0Yzg0MjAiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJhZG1pbiIsImF1ZCI6InB1YmxpYy1jbGllbnQiLCJuYmYiOjE3NzgyMzU5NTEsInNjb3BlIjpbIm9wZW5pZCJdLCJpc3MiOiJodHRwczovL2F1dGgudnZkbnRlY2guY29tIiwiZXhwIjoxNzc4MzIyMzUxLCJpYXQiOjE3NzgyMzU5NTEsImp0aSI6ImEzZmM4NjVkLWM0ZTUtNDJhNi05MDQ5LThiMGYwOTQ3ZjA1OCIsImF1dGhvcml0aWVzIjpbIlJPTEVfQURNSU4iXX0.Dv18YaDpw6mZQHgQzjt_M4ip4KRfXtiNpa7op-LqgnJCTE_BezTE6zPINbTQtW0zx2HfWrfeFzngVdfBZxnSv_uOW2bOsE2aRJJs895OQfHNn-JmVigrX7pJi8_wlSxZ89Tj3hGnHye-fqMTZoGiwSqFmlSm-sOcW6flklbJxGyznkK5yQLsalr2TKZlKt_OD5DpmRFxhUhEsFnzGdt_Fk-9UgDGcMgv8oj1qakhAdL8oq-kFp1Y97Ct7jAlo0QDT8CqkRC_awyTRv7a6eBm_m5aW76GRAEC5E52iOMw64XFc1boxVbLMAYuKnoyWJnzmeYMPz1NvD-jD8hPWKtebw
TIMEOUT=30
